.Background_Homepage {
  height: 960px;
  width: 100%;
  background: url('../../Assets/Images/BG_HOMEPAGE.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
